
.tile {
	background-image:url('http://i.imgur.com/GhaOXOs.png');
	font-size: 100px;
	width:30%;
	height:100px;
	text-align: center;
}

#board {
	background-color:black;
	align:center;
	width:95%;
	height:1200px;
	padding:10px;
	margins:5px;
}

#tileOne{
/*	height:30%;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileTwo {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileThree {  
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileFour{
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileFive {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;

}

#tileSix {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileSeven {
/*	height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;

}

#tileEight {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileNine {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}


#board {
	background-color:black;
	align:center;
	width:60%;
	height:500px;
}

#playerConsole {
	float:left;
	height:40%;
	width:5em;
	background-color:blue;
}

.playerOneBox{
	font-family:serif;
}

.playerTwoBox {
	font-family:serif;
}

#infoSection {
	float:right;
	height:40%;
	width:5em;
}
