 html { 
  background: url('http://i.imgur.com/ludSdqP.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tile {
	/*background-image:url('http://i.imgur.com/KyUklZp.png');*/
	background-color:white;
	border-color:black;
	font-size: 150px;
	width:20%;
	height:160px;
	text-align: center;
	vertical-align:text-top;
	align:center;
	float:left;
	bottom-margin:2px;
	left-margin:25px;
	right-margin:3px;
	padding:1px;
}

#board {
	background-color:black;
	align:center;
	width:20%;
	height:1200px;
	padding:35px;
	top-margin:100px;
	right-margin:10px;
}

#tileOne{
/*	height:30%;
	width:30%;*/
	margin:3px;
	
}

#tileTwo {
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#tileThree {  
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#tileFour{
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#tileFive {
	/*height:5em;
	width:30%;*/
	margin:3px;
	display:inline-block;

}

#tileSix {
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#tileSeven {
/*	height:5em;
	width:30%;*/
	margin:3px;
}

div {
	display:inline;
}

#tileEight {
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#tileNine {
	/*height:5em;
	width:30%;*/
	margin:3px;
	 
}

#playerConsole {
	float:left;
	height:40%;
	width:5em;
	background-color:blue;
}

.playerOneBox{
	font-family:serif;
}

.playerTwoBox {
	font-family:serif;
}

#infoSection {
	float:right;
	height:40%;
	width:5em;
}
