//*I pulled tile size and tweaked it from a homework assignment. 
Wasn't more than two or three lines of code, but it was from the 
painting exercise done w06d05*/

/*#startButton{

}*//*I pulled tile size and tweaked it from a homework assignment. 
Wasn't more than two or three lines of code, but it was from the 
painting exercise done w06d05*/

/*#startButton{
}*/
.tile {
	background-image:url('http://i.imgur.com/GhaOXOs.png');
	font-size: 250px;
	width:25%;
	height:5em;
	text-align: center;
}

#tileOne{
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileTwo {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileThree {  
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileFour{
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileFive {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;

}

#tileSix {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileSeven {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;

}

#tileEight {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileNine {
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}


#board {
	background-color:black;
	padding:10px;
	height:50%%;
	width:50em;
	align:center;
}

#playerConsole {
	float:left;
	height:40%;
	width:5em;
	background-color:blue;
}

.playerOneBox{
	font-family:serif;
}

.playerTwoBox {
	font-family:serif;
}

#infoSection {
	float:right;
	height:40%;
	width:5em;
}

