
html {
  background: url('http://i.imgur.com/ludSdqP.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  align-self:center;
	text-align:center;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight:lighter;
  margin-top:7%;
  margin-bottom:7%;
  margin-left:9%;
  margin-right:9%;
  /*font-size:100px;*/
  background-color:white;
  opacity:0.8;
  border-radius:1%;

}

div#box{
	text-align:center;
	/*width:auto;
	height:auto;*/
  font-size:3em;
  padding:2%;
  font-weight:bold;
}

.canvas{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  align-items:center;
  align-content:center;
}

h3{

	position:relative;
	-webkit-animation:h3Animation 5s;
  font-family: font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight:lighter;
  background-color:white;

}

h1{

	position:relative;
	-webkit-animation:h1Animation 5s;

}

h2{

	position:relative;
	-webkit-animation:h2Animation 5s;

}

canvas{

	position:relative;
	-webkit-animation:canvasAnimation 5s;
  padding:2.25%;
  border-radius:5%;
}

@-webkit-keyframes canvasAnimation {

	0%   {-webkit-transform:rotate(90deg);left:0px; top:0px;}

}

@-webkit-keyframes h1Animation {

	0%   {-webkit-transform:rotate(0deg)}
	25%   {-webkit-transform:rotate(90deg)}
	50%  {-webkit-transform:rotate(180deg)}
	75%  {-webkit-transform:rotate(270deg)}
	100%  { -webkit-transform:rotate(360deg)}

}

@-webkit-keyframes h2Animation{

	0%   {-webkit-transform: scale(1,2);}
	25%   {-webkit-transform: scale(2,3);}
	50%  {-webkit-transform: scale(3,4);}
	75%  {-webkit-transform: scale(4,5);}
	100%  { -webkit-transform: scale(0,0);}
}

@-webkit-keyframes h3Animation{

	0%   {-webkit-transform: scale(0,0);}
	50% {-webkit-transform: scale(0,0);}
	100%  {-webkit-transform: scale(100,100);}

}

canvas#canvas1{
 background:#ff8080;
 height:7%;
 width:7%;

}

canvas#canvas2{
   background:#ff8080;
   height:7%;
   width:7%;
}

canvas#canvas3{
   background:#ff8080;
   height:7%;
   width:7%;
 }

canvas#canvas4{
   background:#ff8080;
   height:7%;
   width:7%;
}

canvas#canvas5{
   background:#ff8080;
   height:7%;
   width:7%;
}

canvas#canvas6{
   background:#ff8080;
   height:7%;
   width:7%;
}

canvas#canvas7{
   background:#ff8080;
   height:7%;
   width:7%;
}


canvas#canvas8{
   background:#ff8080;
   height:7%;
   width:7%;
}

canvas#canvas9{
   background:#ff8080;
   height:7%;
   width:7%;
}
