/*I pulled tile size and tweaked it from a homework assignment. 
Wasn't more than two or three lines of code, but it was from the 
painting exercise done w06d05*/

/*#startButton{

}*/
.tile {
	background-color:grey;
}

#tileOne{
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileTwo {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileThree {  
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileFour{
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileFive {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;

}

#tileSix {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileSeven {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;

}

#tileEight {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#tileNine {
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}


#board {
	background-color:black;
	padding:10px;
	width:50em
	align:center;
}

.a{
border:none;
}

.b{
border:none;
}

.c{
border:none;
}


#playerConsole {
	float:left;
	height:40%;
	width:5em;
	background-color:blue;
}

.playerOneBox{
	font-family:serif;
}

.playerTwoBox {
	font-family:serif;
}

#infoSection {
	float:right;
	height:40%;
	width:5em;
}


/*#navOptional {

}*/
