
html {
  background-color:#b3b4b7;
  font-family: 'Prompt', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  align-self:center;
	text-align:center;
  font-weight:lighter;
  margin-top:4%;
  margin-bottom:7%;
  margin-left:9%;
  margin-right:9%;
  font-family: 'Prompt', sans-serif;
  background-color:white;
  opacity:0.8;
  border-radius:15px;
}

@-webkit-keyframes canvasAnimation {
	0%   {-webkit-transform:rotate(90deg);left:0px; top:0px;}
}

@-webkit-keyframes h1Animation {

	0%   {-webkit-transform:rotate(0deg)}
	25%   {-webkit-transform:rotate(90deg)}
	50%  {-webkit-transform:rotate(180deg)}
	75%  {-webkit-transform:rotate(270deg)}
	100%  { -webkit-transform:rotate(360deg)}

}

@-webkit-keyframes h2Animation{

	0%   {-webkit-transform: scale(1,2);}
	25%   {-webkit-transform: scale(2,3);}
	50%  {-webkit-transform: scale(3,4);}
	75%  {-webkit-transform: scale(4,5);}
	100%  { -webkit-transform: scale(0,0);}
}

div#box{
	text-align:center;
	/*width:auto;
	height:auto;*/
  font-size:3em;
  padding:2%;
  font-weight:bold;
}


h3{

	position:relative;
	-webkit-animation:h3Animation 500s;
  font-weight:lighter;
  background-color:white;

}

h1{

	position:relative;
	-webkit-animation:h1Animation 500s;

}

h2{
  font-family: 'Prompt', sans-serif;
	position:relative;
	-webkit-animation:h2Animation 500s;
}

canvas{
  font-family: 'Prompt', sans-serif;
	position:relative;
	-webkit-animation:canvasAnimation 5s;
  padding:2.25%;
  background-color:#d9dbdd;
  border-radius:5%;
  @-webkit-keyframes canvasAnimation {

	0%   {-webkit-transform:rotate(90deg);left:0px; top:0px;}

}

@-webkit-keyframes h1Animation {

	0%   {-webkit-transform:rotate(0deg)}
	25%   {-webkit-transform:rotate(90deg)}
	50%  {-webkit-transform:rotate(180deg)}
	75%  {-webkit-transform:rotate(270deg)}
	100%  { -webkit-transform:rotate(360deg)}

@-webkit-keyframes h2Animation{

	0%   {-webkit-transform: scale(1,2);}
	25%   {-webkit-transform: scale(2,3);}
	50%  {-webkit-transform: scale(3,4);}
	75%  {-webkit-transform: scale(4,5);}
	100%  { -webkit-transform: scale(0,0);}
}

@-webkit-keyframes h3Animation{

	0%   {-webkit-transform: scale(0,0);}
	50% {-webkit-transform: scale(0,0);}
	100%  {-webkit-transform: scale(100,100);}

}

@-webkit-keyframes h3Animation{
   background:#ff8080;
}

canvas#canvas1{
 background:#ff8080;
 color:white;

}

canvas#canvas2{
   background:#ff8080;
}

canvas#canvas3{
   background:#ff8080;
 }

canvas#canvas4{
   background:#ff8080;
}

canvas#canvas5{
   background:#ff8080;
}

canvas#canvas6{
   background:#ff8080;
}

canvas#canvas7{
   background:#ff8080;
}

canvas#canvas7{
   background:#ff8080;
}

canvas#canvas8{
   background:#ff8080;
}

canvas#canvas9{
   background:#ff8080;
}

a{
  text-decoration:none;
}

a:hover{
  text-transform:uppercase;
}
