/*I pulled tile size and tweaked it from a homework assignment. 
Wasn't more than two or three lines of code, but it was from the 
painting exercise done w06d05*/

/*#startButton{

}*/
.tile {
	font-size: 250px;
	font-color:;
	width:10%;
	height:1em;
	text-align: center;
}

#tileOne{
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
	background-image:url("http://i.imgur.com/GhaOXOs.png");
	background-repeat:no-repeat;
}

#tileTwo {
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileThree {  
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileFour{
	/*height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileFive {
	/*height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;

}

#tileSix {
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileSeven {
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;

}

#tileEight {
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}

#tileNine {
/*	height:15em;
	width:30%;*/
	margin:3px;
	display:inline-block;
}


#board {
	background-color:black;
	padding:10px;
	width:50em
	align:center;
}

.a{
border:none;
}

.b{
border:none;
}

.c{
border:none;
}


#playerConsole {
	float:left;
	height:40%;
	width:5em;
	background-color:blue;
}

.playerOneBox{
	font-family:serif;
}

.playerTwoBox {
	font-family:serif;
}

#infoSection {
	float:right;
	height:40%;
	width:5em;
}


/*#navOptional {

}*/
